//Site Variables
$padding-for-nav: 150px; //Start of Recipe Text and Nav Bar

//Colors
$light-yellow: #fffadf; //Suggestions Sidebar
$medium-yellow: #fff4bc; //Nav bar and unimportant buttons
$dark-yellow: #ffe144; //Action Buttons
$vote-grey: #616161; //Vote text and nav buttons

@mixin title() {
  font-size: 3.5rem;
  font-weight: bold;
}

@mixin body() {
  font-size: 2.5rem;
}

@mixin vote() {
  font-size: 1.75rem;
  color: $vote-grey;
}

@mixin recipeFormating() {
  line-height: 2.65;
}

* {
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}
html {
  font-size: 10px;
}

.suggestions {
  background-color: $light-yellow;
  min-height: 100vh;
  padding: $padding-for-nav 7% 0 2%;
}

.recipe {
  padding-top: $padding-for-nav;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  height: 70px;
  background-color: $medium-yellow;
  padding-left: 7%;
  filter: drop-shadow(0px 7px 5px #00000012);
  position: fixed;
  width: 100vw;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
